.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.container {
  background-color: #f0f0f0;
  border: 1px dotted;
  color: rgb(167, 177, 189);
  max-height: 572px;
  padding: 20px;
  overflow: auto;
  margin-top: 16px;
}

.titleWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 16px;
}

.titleName {
  color: #333;
  font-size: 16px;
}

.footer-wrap {
  margin-top: 4px;
  padding: 10px 16px;
  text-align: right;
  background: 0 0;
  border-top: 1px solid #f0f0f0;
  border-radius: 0 0 2px 2px;
}

.button-list :not(:first-child) {
  margin-left:8px
}